# C C++ 
out
*.out
*.exe
*.bin
C_C++/.cph/**
C_C++/librarys/**

# Rust
*.lock
*.o
Rust/target/**
Rust/test_project/**
Rust/Cargo.toml
Rust/Cargo.lock

# C#
CS/**/bin/**
CS/**/obj/**
CS/**/.vs/**

# Python
Python/__pycache__/**
Python/mini_project/**/build/**
Python/mini_project/**/dist/**
Python/media/**
