# C C++ 
out
*.out
*.exe
*.bin
C_C++/.cph/**
C_C++/librarys/**

# Rust
*.lock
*.o
Rust/target/**

# C#
CS/**/bin/**
CS/**/obj/**
CS/**/.vs/**

# Python
Python/mini_project/**/build/**
Python/mini_project/**/dist/**
