body {
    border: 2px solid powderblue;
    background-color: burlywood;
}

h1 {
    color: powderblue;
}
p {
    color: red;
}

table, th, td {
    text-align: center;
    
}

th, td {
    border-bottom: 5px solid red;
}

table {
    border-spacing: 0px;
}

tr:nth-child(even) {
  background-color: #00ffff;
}
tr:nth-child(odd) {
  background-color: #D6EEEE;
}
tr:hover {
    background-color: darkmagenta;
}